{
    "extends": ["standard","plugin:vue/recommended"],
    "plugins": [
        "html"
    ],
    "rules": {
        "no-new": "off",
        "no-unused-vars":1
    },
    "parserOptions": {
        "parser": "babel-eslint"
    }
}